$mobile : 700px;

$background1: #111111;
$background2: #0D1533;
$cta: #487CFC;
$black: #171717;
$white: #ffffff;
$textOff: #b8b8b8;
$yellow: #F37F13;
$red: #FF4747;

//indicators
$green: #17cc17;
$orange: #F37F13;
$yellow: #ebeb0c;
$blue: #322bf3;
$purple: #c426c4;