.r-wrapper {
    @include flex(0, center, center, column);
    height: calc(100vh);
    padding: 10px;

    h1 {
        color: $red;
    }

    button {
        @include button($color: $white, $bg: $red, $padding: 10px 20px, $border-radius: 4px, $font-size: 1.2rem);
        transition: all 0.3s ease;
        width: 100%;
        max-width: 700px;
        margin-bottom: 10px;
    }

    button:hover {
        transform: scale(1.05);
    }
}

.user-form {
    background: $black;
    padding: 10px;
    border-radius: 8px;
    color: $white;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-field {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 6px;
        }

        input {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid $yellow;
            background: transparent;
            color: $white;
            text-align: right;
        }
    }

    .submit-btn {
        padding: 10px;
        background: $red;
        color: $white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .policy-link {
        font-size: 14px;
        color: $white;
        margin-bottom: 0px;

        span {
            color: $red;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}